apiVersion: apps/v1
kind: Deployment
metadata:
  name: sistema-distribuido
spec:
  replicas: 20
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - name: worker-node
        image: yaellorenzana/worker-node:v1
        imagePullPolicy: Always
        
        
        command: ["/bin/sh", "-c", "tail -f /dev/null"]
        
        resources:
          limits:
            memory: "128Mi"
            cpu: "200m"
